.order{
    background-color: #EBEBEB;
    color: #993349;
    padding: 30px 10px;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    text-align: left;
    font-size: 15px;
    margin: inherit;
    cursor: pointer;
}
