.btn {
    background-color: #993349;
    color: white;
    padding: 9px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px 10px;
    cursor: pointer;
    padding: 10px 10px;
    width: 225px;
}

.btn:focus {
    outline: none;
}

.btn:active {
    background-color: #C77557;
    border: none;
}

.btn-set {
    background-color:#581D27;
    color: white;
    padding: 9px 9px;
    text-align: center;
    text-decoration: none;
    display: ruby-base;
    font-size: 20px;
    margin: 10px 10px;
    cursor: pointer;
    width: 20%;

}