.info{
    background-color: #993349;
    color: white;
    padding: 16px 299px;
    text-align: justify;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    width: 20%;
}